{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Ticket #{{ ticket.id }}</h1>
        <dl class="card-text">
            <dt>For</dt>
            <dd>{{ ticket.name }}</dd>
            <dt>Movie</dt>
            <dd>{{ ticket.showing.movie.title }}</dd>
            <dt>Showtime</dt>
            <dd>{{ ticket.showing.showtime }}</dd>
            <dt>Rating</dt>
            <dd>{{ ticket.showing.movie.rating }}</dd>
            <dt>Runtime</dt>
            <dd>{{ ticket.showing.movie.runtime }}</dd>
            <dt>Genre</dt>
            <dd>{{ ticket.showing.movie.genre }}</dd>
            <dt>Purchased At</dt>
            <dd>{{ ticket.purchased_at }}</dd>
        </dl>
        
        <p class="text-right">Go back <a href="{% url 'home' %}">home</a></p>
    </div>
</div>

{% endblock content %}